Create your place here!

<form method="POST">
<label for="name-input">Name</label>
<input type="text" name="name" id="name-input" placeholder="name">
<label for="type-input">Type</label>


<select id = "type-list" name="type">
 <option value="coffee_shop">Coffee Shop</option>
<option value= "bookstore">Book Store</option>

</select>
  <label for="latitude-input">Restaurant Latitude</label>
  <input id="latitude-input" type="text" placeholder="Latitude" name="latitude">
  
  <label for="longitude-input">Restaurant Longitude</label>
  <input id="longitude-input" type="text" placeholder="Longitude" name="longitude">

<button>Create!</button>
</form>
