Edit your place here



<form method="POST">
<label for="name-input">Name</label>
<input type="text" name="name" id="name-input" placeholder="name" value="{{place.name}}">
<label for="type-input">Type</label>


<select id = "myList" name="type">
 <option value="coffee_shop">Coffee Shop</option>
<option value= "bookstore">Book Store</option>
</select>

  <label for="latitude-input">Place Latitude</label>
  <input id="latitude-input" type="text" placeholder="Latitude" name="latitude">
  
  <label for="longitude-input">Place Longitude</label>
  <input id="longitude-input" type="text" placeholder="Longitude" name="longitude">

<button>Save changes!</button>
</form>
